extends layout

block content
  div(class="uk-position-relative")
    div(class="uk-section uk-section-media uk-background-cover uk-height-viewport" style="background-image: url(img/back2.jpg)")
      div(class="uk-padding-large uk-heading-primary uk-text-right") Изготовление <br> печатей <br> и штампов.
      include order
    include menu
    <div class="uk-container uk-container-small uk-position-relative">
      <div class="uk-background-muted uk-padding-large uk-box-shadow-medium" style="margin-top:-70px;">
        <p class="uk-text-lead">Специфика развития современного общества такова, что сегодня ни один документ не будет действителен без проставленных на нем оттисков печати или штампа. Наша компания многие годы специализируется на изготовлении печатей и штампов.</p>
        <div class="uk-grid-match uk-grid-divider uk-child-width-1-3" uk-grid>
          <p>Мы изготавливаем разные печати, штампы, печати для государственных учреждении, врачей, адвокатов и нотариусов, факсимиле и экслибрисы и даем гарантию на всю производимую нами продукцию.</p>
          <p>У нас много постоянных клиентов, среди которых различные министерства, рекламные агентства, РЖД и т.д., которые выбрали нас за высокие профессиональные качества.</p>
          <p>Цены на наши услуги наиболее доступные в нашем городе, так как мы заботимся о том, чтобы наши клиенты были заинтересованы в работе с нами на постоянной основе.</p>
        </div>
      </div>
    </div>
  include footer
