doctype html
html
  head
    link(rel='stylesheet', href='/css/uikit.min.css')
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript", src="/js/uikit.min.js")
    script(type="text/javascript", src="/js/uikit-icons.min.js")
  body
    block content
