<div class="uk-position-top">
  <nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-nav" uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo">Топ-Печать</a>
        </div>
        <div class="uk-navbar-center">
          <ul class="uk-navbar-nav">
            <li class="uk-active">
              <a href="#">Печати, штампы</a>
            </li>
            <li>
              <a href="#">Полирафия</a>
            </li>
        </div>
        <div class="uk-navbar-right">
          <div class="uk-navbar-toggle" uk-toggle="target: #contact">
            <span uk-icon="icon: receiver; ratio:1"></span>
            <p class="uk-text-small uk-margin-right">(473) <span class="uk-text-large">257-55-33</span></p>
            <span uk-icon="icon: location; ratio:1"></span>
            <p class="uk-text-small"> ул. Кости Стрелюка, 16а</p>
          </div>
        </div>
        <!-- This is the modal -->
        <div id="contact" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Как нас найти</h2>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abe21d73b815d1b107e82863259052480a54615847815753c8d17ebdcf4b673c9&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                <button class="uk-button-default uk-modal-close" type="button">Закрыть</button>
            </div>
        </div>
  </nav>
</div>
